<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestProject2</display-name>

  <servlet>
  	<servlet-name>myControl</servlet-name>
  	<servlet-class>com.mvcmem.control.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>myControl</servlet-name>
		<url-pattern>*.mdo</url-pattern>
	</servlet-mapping>
	
<servlet>
  	<servlet-name>Controller</servlet-name>
  	<servlet-class>com.board.controller.ControllerAction</servlet-class>
  	<init-param>
  		<param-name>propertyConfig</param-name>
  		<param-value>CommandPro.properties</param-value>
  	</init-param>
</servlet>
  
<servlet-mapping>
	<servlet-name>Controller</servlet-name>
	<url-pattern>*.bdo</url-pattern>
</servlet-mapping>
  
</web-app>